<!doctype html>
<html>
	<head>

		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>keyholder</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="stylesheet" type="text/css" href="./css/modal.css">

	</head>

	<body>

			<div class="nav-fixed-top mytop">
				Key Manager
			</div>

			<div id = "app" class="padding body">
				{{ message }}
			</div>

			<div id="pass-table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>contents</th>
							<th>ID</th>
							<th>email</th>
							<th>password</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(elm, index) in passlist">
							<td>{{ elm.content }}</td>
							<td>{{ elm.id }}</td>
							<td>{{ elm.email }}</td>
							<td>{{ elm.pass }}</td>
							<td>
									<div class="btn btn-info" @click="modifyPass(elm)">
										Modify
									</div>
							</td>
							<td>
								<div class="btn btn-danger"  @click="deletePass(index)">Delete</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id = "modal-root">
				<modal v-if="showModal" @close="showModal = false">
					<h3 slot="header">Modify Password</h3>
					<button @click="close()">OK</button>
				</modal>
			</div>

			<div id="pass-adder" class="fixed-bottom">
				register new password<br />
				<input v-model="newContents" placeholder="contents">
				<input v-model="newID" placeholder="ID" >
				<input v-model="newEmail" placeholder="email">
				<input v-model="newPass" placeholder="password">
				<div class="btn btn-primary" @click="createPass()">Register</div>
			</div>

	</body>

	<script src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/layout.js"></script>
	<script type="text/javascript" src="./js/table.js"></script>

</html>
